/*  user registration  */
.keygen-area {
    position: relative;
    top: -50px;
}

#btn_register{
    text-align: center;
    position: relative;
    top: -50px;}

.uname-large{
    position: relative;
    top: -320px;
    text-align: right;
}

.avatar_box{height: 300px; width: 300px;}

.user-generator {
    max-width: 600px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-register {
    max-width: 600px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-register .form-register-heading,
.form-register .checkbox {
    margin-bottom: 10px;
}
.form-register input[type="text"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.key-result {
    max-width: 600px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.goaway {
    position:absolute;
    left:270px;
    animation: goaway .425s 1 ease-out;
}

@keyframes goaway {
    0% {}
    100% {
        opacity:0;
        transform:translate(5em, -20em) rotateY(90deg) scale(.2);
    }
}

/* sign in */
.form-signin {
    max-width: 400px;
    text-align: center;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

/*  home */
.sidebar-nav {
    padding: 9px 0;
}

.grailo_message_field {width:100%;}

/*  feeds */
.form-create-feed {
    max-width: 100%;
    text-align: left;
    padding: 5px 19px 19px 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-bottom: 5px;
}

.fld_title_feed { width: 100%;}

/* feed */
.feed_title_area {font-size: 2.2em; font-weight: bold; height: 40px; vertical-align: top; }
.feed_title { position: relative;
    top: 5px; }
.grailo_message{
    max-width: 100%;
    text-align: left;
    padding: 5px 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-bottom: 5px;
}

.grailo_message_part{ display: inline-block; margin: 5px; vertical-align: top;}
.message_avatar_img{ width: 64px; height: 64px;}

.message_username{ font-size: 1.2em; font-weight: bold;}
.message_time{ font-size: 0.8em; color: #a2a2a2;}
.message_text{ font-size: 1.0em; }

.avatar{ width: 64px; }
.message{ width: 80%; }
.message_state_button{ width: 64px; }

.templar_small {
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    margin-bottom: 5px;
}

/* profile */
.profile_avatar_img{ width: 256px; height: 256px;}
