{% load i18n %}
{% load microblogging_tags %}

{% block subnav %}
    <ul>
        <li><a href="{% url messages_you_follow %}">{% trans "Messages You Follow" %}</a></li>
        <li><a href="{% url all_messages %}">{% trans "All Messages" %}</a></li>
        <li><a href="{% url message_followers request.user %}">{% trans "Your Followers" %}</a></li>
        <li><a href="{% url message_following request.user %}">{% trans "Who You Are Following" %}</a></li>
    </ul>
{% endblock %}

{% block head_title %}{% blocktrans %}Followers of {{ other_user }}{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>{% blocktrans %}Followers of {{ other_user }}{% endblocktrans %}</h1>

    <p>{% blocktrans with other_user.get_profile.get_absolute_url as other_user_url %}Followers of <a href="{{ other_user_url }}">{{ other_user }}</a>'s messages:{% endblocktrans %}</p>

    {% if other_user.followers.all %}
        {% for following in other_user.followers.all %}
            {# @@@ this is common code from all profiles list -- refactor #}
            <div class="profile clearfix">
                <div><a href="{{ following.follower.get_profile.get_absolute_url }}">{{ following.follower }}</a></div>
            </div>
        {% endfor %}
    {% else %}
        <p>{% trans 'No followers.' %}</p>
    {% endif %}

    {% url message_following other_user.username as message_following_url %}
    <p>{% blocktrans %}Also see <a href="{{ message_following_url }}">who {{ other_user }} is following</a>.{% endblocktrans %}
{% endblock %}