
<!DOCTYPE html>
<html lang="en">
{% load i18n %}
{% load django_mustache  %}
{% include 'head.html' %}
<style type="text/css">
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }

</style>
{% django_mustache %}
<script type="text/javascript">
    $(document).ready(function() {

        var uname = '{{ request.user.username  }}';
        if(uname){
            $.ajax({
                url: "uname.json?uname="+uname,
                dataType: 'json'
            }).done(function(ajaxResult) {
                if(! ajaxResult.error){
                    loadCanvas('avatar_canvas', ajaxResult.avatar_img);
                } else {
                    $('#ajax_message').html(Mustache.render('<div class="alert alert-error"><strong>[[ error ]]</strong> [[ message ]]</div>',ajaxResult));
                }
            });

        }

    });
</script>
{% end_django_mustache %}

<body>
{% include 'topbar.html' %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            {% include 'sidebar.html' %}
        </div><!--/span-->
        <div class="span10">
            <div class="row-fluid">
                <div class="span4">
                    <canvas id="avatar_canvas" width="300" height="300"></canvas>
                </div>
                <div class="span5">
                    <h1>Hello, {{ request.user.username  }}!</h1>
                    <p>You are now ready to create feeds,  as well as follow and comment other user's feeds.
                        With privacy. While using Grailo you will need to enter keys to create feeds, as well
                        as decrypt and encrypt feeds locally, so keep them handy.</p>

                    <a href="{% url templar_feeds %}" class="btn btn-large btn-primary" id="btn_signin">Create New Feed &raquo;</a>

                </div>
            </div>
            <div class="row-fluid">
                <h2>My feeds</h2>
                {% if feeds.all  %}
                <table cellpadding="10">
                    {% for feed in feeds.all %}
                        <tr>
                            <td><span style="font-size: 1.4em; font-weight: bold">{{ feed.title }}</span></td>
                            <td><a class="btn btn-mini" href="{% url feeds.views.feed feed.id %}">View</a>
                                <a class="btn btn-mini btn-danger" href>Delete</a></td>

                        </tr>
                    {% endfor %}

                </table>
                {% else %}
                <h4>No feeds yet</h4>
                {% endif %}
            </div>
            <div class="row-fluid">
                <h2>Feeds I follow</h2>
                {% if followed_feeds.all  %}
                    <table cellpadding="10">
                        {% for feed in followed_feeds.all %}
                            <tr>
                                <td><span style="font-size: 1.4em; font-weight: bold">{{ feed.title }}</span></td>
                                <td><a class="btn btn-mini" href="feed/{{ feed.id }}/">View</a>


                            </tr>
                        {% endfor %}

                    </table>
                {% else %}
                    <h4>No feeds yet</h4>
                {% endif %}
            </div>

        </div><!--/span-->
    </div><!--/row-->

    {% include 'footer.html' %}

</div><!--/.fluid-container-->


</body>
</html>
