<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<!-- Le styles -->
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<style type="text/css">
    body {
        padding-top: 20px;
        padding-bottom: 40px;
    }

        /* Custom container */
    .container-narrow {
        margin: 0 auto;
        max-width: 700px;
    }
    .container-narrow > hr {
        margin: 30px 0;
    }

    /* Main marketing message and sign up button */
    .jumbotron {
        margin: 60px 0;
        text-align: center;
    }
    .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
    }
    .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

        /* Supporting marketing content */
    .marketing {
        margin: 60px 0;
    }
    .marketing p + h4 {
        margin-top: 28px;
    }
</style>

<body>

<div class="container-narrow">

    <div class="masthead">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="index.html">Index</a></li>
            {% if not request.user.is_authenticated %}<li><a href="home.html">Login</a></li>{% endif %}
            {% if request.user.is_authenticated %}<li><a href="home.html">Home</a></li>{% endif %}
            <li><a href="about.html">About</a></li>
            {% if request.user.is_authenticated %}<li><a href="logout.html">Logout</a></li>{% endif %}
        </ul>
        <h3 class="muted"><a href="{% url site_landing %}"><img src="{{ STATIC_URL }}images/grailo_logo_all.png"></a></h3>

    <hr>

    <div class="jumbotron">
{#        <div style="width: 100%; text-align: center;">#}
{#            <iframe width="560" height="315" src="http://www.youtube.com/embed/DICqIQBTGCM" frameborder="0" allowfullscreen></iframe>#}
{#        </div>#}
        <h1>Finally, micro blogging with real privacy.</h1>
        <p class="lead">Grailo is the only social network that lets you choose the
        level of privacy you want using <a target="_new" href="http://en.wikipedia.org/wiki/Public-key_cryptography">
                public/private key encryption.</a>  Feeds are visible only to friends who you trust,
            by sharing keys. We hope to make privacy on the internet simple and easy enough
            for everyone to use.</p>
        <a class="btn btn-large btn-success" href="register.html">Sign up today!</a>
    </div>

    <hr>

    <div class="row-fluid marketing">
        <div class="span6" style="text-align: center;">

            <div class="index_minifeature">
                <ul class="thumbnails">
                    <li class="span6 tn_index" style="width: 100%; margin: 0px;">
                        <img src="{{ STATIC_URL }}images/choices.png" alt="">
                    </li>
                </ul>
                <h4 class="index_mf_title">Your choices</h4>
                <p>You choose who can decrypt your content or contribute to the conversation using simple keys you share with those you trust.
                <span class="attr_link"><a href="http://www.flickr.com/photos/yondermind/879110008/lightbox/">attribution</a></span></p>

            </div>
            <div class="index_minifeature">
                <ul class="thumbnails">
                    <li class="span6 tn_index" style="width: 100%; margin: 0px;">
                        <img src="{{ STATIC_URL }}images/privacy.png" alt="">
                    </li>
                </ul>
                <h4 class="index_mf_title">Why privacy?</h4>
                <p>Because people don't send all their mail on postcards. You deserve privacy, and we are excited to provide you an option.
                    <span class="attr_link"><a href="http://www.flickr.com/photos/castorgirl/5615283857/lightbox/">attribution</a></p>
            </div>
            <div class="index_minifeature">
                <ul class="thumbnails">
                    <li class="span6 tn_index" style="width: 100%; margin: 0px;">
                        <img src="{{ STATIC_URL }}images/simple.png" alt="">
                    </li>
                </ul>
                <h4 class="index_mf_title">Simple</h4>
                <p>Its pretty simple, but we are working every day to make your privacy simpler.<span class="attr_link">
                    <a href="http://www.flickr.com/photos/bitzcelt/4787422150/">attribution</a></p>
            </div>

        </div>

        <div class="span6" style="text-align: center;">

            <div class="index_minifeature">
                <ul class="thumbnails">
                    <li class="span6 tn_index" style="width: 100%; margin: 0px;">
                        <img src="{{ STATIC_URL }}images/anonymous.png" alt="">
                    </li>
                </ul>
                <h4 class="index_mf_title">Anonymous</h4>
                <p>We dont require identifying information, so your account is as anonymous as you wish it to be.
                    <span class="attr_link"><a href="http://www.flickr.com/photos/protoflux/2208369178/">attribution</a></p>
            </div>
            <div class="index_minifeature">
                <ul class="thumbnails">
                    <li class="span6 tn_index" style="width: 100%; margin: 0px;">
                        <img src="{{ STATIC_URL }}images/key.png" alt="">
                    </li>
                </ul>
                <h4 class="index_mf_title">Encrypted</h4>
                <p>e3 1024 bits client side RSA public key encryption. That means that it would take computing years to break your post.
                    <span class="attr_link"><a href="http://www.flickr.com/photos/ul_marga/755378645/">attribution</a></p>
            </div>
            <div class="index_minifeature">
                <ul class="thumbnails">
                    <li class="span6 tn_index" style="width: 100%; margin: 0px;">
                        <img src="{{ STATIC_URL }}images/copycat.png" alt="">
                    </li>
                </ul>
                <h4 class="index_mf_title">Open</h4>
                <p>Care to review the code base? The entire project is 100% open source, <a href="https://github.com/claytantor/grailo">just fork us.</a>
                    <span class="attr_link"><a href="http://www.flickr.com/photos/malinky/195771045/">attribution</a></p> </p>
            </div>


        </div>
    </div>
    {% include 'footer.html' %}

</div> <!-- /container -->


</body>
</html>
