{% if feed.messages.all  %}
    <h3>Messages</h3>
    {% for message in feed.messages.all %}
        <div class="grailo_message" data-message-id="{{ message.id }}">
            <div class="grailo_message_part avatar"><img class="message_avatar_img" src="{% url feeds.views.avatar_png message.templar.user.username  %}"/></div>
            <div class="grailo_message_part message">
                <div class="message_username">{{ message.templar.user.username }}</div>
                <div class="message_text">{{ message.text|break_text:60|linebreaksbr }}</div>
            </div>
            <div class="grailo_message_part message_state_button" data-message-encrypted="{{ message.text}}">
                <img class="message_avatar_img" src="{{ STATIC_URL }}images/lock-icon.png"/></div>
        </div>
    {% endfor %}
{% else %}
    <h3>No Messages Yet</h3>
{% endif %}