<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index.html" style="display: inline;">
                <img src="{{ STATIC_URL }}images/icon-32-shadow.png" style="position: relative; top: -5px;">
                <span style="color: #999;font-size: 0.8em; font-weight: bold;">Grailo</span> <span style="color: #ddd;font-size: 0.8em;  font-weight: bold;">Feeds</span>
            </a>
            <div class="nav-collapse collapse">
                {% if request.user.is_authenticated %}
                <p class="navbar-text pull-right" style="margin-left: 10px;">
                        <a href="logout.html">Logout</a>
                </p>
                <p class="navbar-text pull-right">
                    Logged in as {{ request.user.username  }}
                </p>

                {% endif %}

{% comment %}                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>{% endcomment %}
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>